<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th></th>
    <th><!-- Button to trigger modal -->
	<% if current_user %>
	<a href="#myModal" role="button" class="btn btn-primary pull-right" data-toggle="modal">New</a>
    <% else %>
    <%= image_tag("https://s3.amazonaws.com/freit5misc/blank.jpg", :align => 'right') %>
    </th>
	<!-- Modal -->
	<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Add your code/commands</h3>
	  </div>
	  <div class="modal-body">

	  <%= render("posts/form") %></th>
  </tr>
<% end %>

<% @posts.each do |post| %>
<tr>
    
	<td><strong><%= on_the_spot_edit post, :name, :class => 'post-name' %></strong>
	<br /><%= post.content %>
    <td>
	<td align"right">
    <%= image_tag("#{post.user_image}", :class => "img", :align => 'right') %></td>
  </tr>
<% end %>
</table>

<br />

