<div id="breadcrumbs"><%= render_breadcrumbs :separator => ' / ' %></div>
<div id="post">
	<div class="leftnav">
		
<h1 class="name"><%= @post.sub_category.name %></h1>
<% @post.sub_category.posts.each do |post|%>
<ul>
	<li><%= link_to  (post.name), post %></li>
</ul>

<% end %>
</div>

<div class="rightContent">
<p id="notice"><%= notice %></p>

<h1 class="name">
  <%= @post.name %>
</h1>

<p>

<%= raw Pygments.highlight(@post.content) %>
</p>
</div>

</div>





