<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Jog</title>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  
  <%= stylesheet_link_tag  "application", :media => 'all' %>
  <%= csrf_meta_tags %>

   <body>
<div id='top_line'></div>
	<div class="container">
		<div class="row">
			
			<div id='tag' class="span9">
			  <p class="lead">use <span class="logo">Jog</span> to quickly save & recall code</p>
		    </div>
		
			<div id ='sign-in' class="span3" class="pull-right">
	        	<% if current_user %>
	            <%= image_tag("#{current_user.image}", :height => '50', :width => '50') %>
				<%= current_user.name %>
				 <%= link_to "Sign out", signout_path %>
				<% else %>
				<span><%= image_tag("github_icon.png", :height => '30', :width => '30') %></span>
				 <%= link_to "Sign in with Github", "/auth/github" %>
				<% end %>
		    </div>

					<div class="navbar">

		<div class="container">
			      <!-- Be sure to leave the brand out there if you want it shown -->     


			      <!-- Everything you want hidden at 940px or less, place within here -->
			      <div class="nav-collapse">
			        <!-- .nav, .navbar-search, .navbar-form, etc -->
			      </div>
			    </div>
			  </div>
			</div>

	  <% flash.each do |name, msg| %>
	    <div class="alert fade in alert-<%= name == :notice ? "success" : "error" %>">
		<a class="close" data-dismiss="alert">x</a>
	      <%= msg  %>
	    </div>
	  <% end %>
	    <div class="row">
		<div class="span9"><%= yield %></div>
		<div class="span3">

		</div>
		<%= javascript_include_tag "application" %>

		<script>
		Mousetrap.bind('n', function() { window.location = ('posts/new'); });
		Mousetrap.bind('h', function() { window.location = ('/'); });
		</script>

</body>
</html>
