<!DOCTYPE html>
<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jog</title>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  
  <%= stylesheet_link_tag  "application", :media => 'all' %>
  <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='top_line'></div>
      <div class="container">
	    <div class="row">		
          <div class="span12">
			  
			<div class="row">
	        <div class="span12" id="tag">
				<span class="sign-in">
						<% if current_user %>
						<%= image_tag("#{current_user.image}", :class => 'img') %>
						<%= current_user.name %>
						<br /><%= link_to "Sign out", signout_path %>
						<% else %>
						<%= image_tag('https://s3.amazonaws.com/freit5misc/github.png') %>
						<%= link_to "Sign in", "/auth/github" %>
						<% end %>
				  </span>
		      <span class="lead">use <span class="logo">Jog</span> to quickly save & recall code</span>

				<% flash.each do |name, msg| %>
	  			<div class="alert fade in alert-<%= name == :notice ? "success" : "error" %>">
	  			  <a class="close" data-dismiss="alert">x</a>
					<%= msg  %>
	  			</div>
				<% end %>

    			<%= yield %>
          </div>
	    </div>
	  </div>
  <%= javascript_include_tag "application" %>
  <script>
  Mousetrap.bind('n', function() { window.location = ('posts/new'); });
  Mousetrap.bind('h', function() { window.location = ('/'); });
  </script>





